body{
	background-color: firebrick;
}
#header {
	font: menu;
	font-size: x-large;
	padding-left: 120px;
	color: white;
}
#logo{
	float: left;
	padding-right: 10px;
}
#center_offset {
	width: 0px;
	margin: auto;
	overflow: visible;
}
#content {
	background: white;
	margin-right: 100px;
	margin-left: 100px;
	padding: 50px;
}
#feed_header {
	margin-left: -180px;
	max-width: 180px;
	font: menu;
	font-size: x-large;
}
.tweet {
	margin-left: auto;
	margin-right: auto;
	max-width: 30em;
	margin-bottom: 15px;
	padding: 8px;
	border: 1px solid orangered;
}
.tweet_user {
	font-family: sans-serif;
	color: orangered;
}
.tweet_timestamp{
	color:#999999;
	padding-left: 15px;
}
